/* *{
    color:green;
    font-family: 'Courier New', Courier, monospace;
} */
body{
    color:green;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
p{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    background-color:yellow;
    text-align: center;
}

h1{
    font-size: 150%;
}