*{font-family: Arial;}
body{
    margin: 0;
    padding: 0;
    background-color: #8ca699;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8ca699;
}
h1{
    font-size: 75px;
}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto{
    padding: 15px;
    margin: 25px;
    border: 5px solid black;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}
nav ul{
    display: flex;
    list-style-type: none;
}

nav a{
    display:block;
    padding: 15px;
    text-decoration:none;
    text-transform:uppercase;
    color:#000000;
    font-family:Arial;
    justify-content: center;
}
nav .active a, nav a:hover{
    background-color: #51a37a;
    color:#FFFFFF;
}
.perso{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content:center;

}
.perso-1{
    height: 550px;
    width: 550px;
    display:flex;
    flex-direction: row;
}
.perso-2{
    height: 550px;
    width: 550px;
    display:flex;
    flex-direction: row;
}
.perso-3{
    height: 550px;
    width: 550px;
    display:flex;
    flex-direction: row;
}
table{
    padding: 15px;
    margin: 25px;
    border: 5px solid black;
}
.avaliacao{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family:Arial;
    font-size: 25px;
}
#nome_user{
    padding: 15px;
    margin: 50px;
    display:flex;
    flex-direction: row;
}
#nota_user{
    padding: 15px;
    margin: 50px;
    display:flex;
    flex-direction: row;
}
#descricao{
    padding: 15px;
    margin: 50px;
    display:flex;
    flex-direction: row;
}
#enviar{
    font-family:Arial;
    font-size: 25px;
}
caption{
    font-family:Arial;
    font-size: 55px;
}